<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.2.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0 https://maven.apache.org/xsd/settings-1.2.0.xsd">
  <mirrors>
    <mirror>
      <id>artifactory-central</id>
      <name>Artifactory Maven Mirror</name>
      <url><ART_PROXY>/maven-repo.maven.apache.org/</url>
      <mirrorOf>*</mirrorOf>
    </mirror>
  </mirrors>
</settings>
